
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');


.texto-esquerda {
  text-align: left;
}
body {
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Madimi One", sans-serif;
  margin: 0;
  padding: 0;
  background: #F3F7FF;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1; 
}

.texto-esquerda {
  max-width: 1100px;      
  margin: 0 auto;        
  padding: 40px 30px;   
  text-align: left;    
}

.texto-esquerda p {
  font-size: 20px;
  line-height: 1.7;
  margin-bottom: 18px;
  text-align: justify;  
}

.pagina-texto h1 {
  text-align: center;   
  margin-bottom: 30px;
}



header {
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: #4676A8;
  padding: 10px 180px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}
header a img {
  height: 75px; 
  width: auto;  
  cursor: pointer;
  transition: transform 0.2s ease;
}

header a img:hover {
  transform: scale(1.05);
}

header nav {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

header nav a {
  color: white;
  text-decoration: none;
  font-family: 'Madimi One', sans-serif;
  font-weight: bold;
  padding: 8px 16px;
  border: 2px solid white;
  border-radius: 12px;
  transition: all 0.3s ease;
}

header nav a:hover {
  background-color: white;
  color: #4676A8;
  transform: scale(1.05);
}


nav {
  background-color: #4676A8;
  padding: 15px 40px;
  display: flex;
  justify-content: center; 
  gap: 20px;
  flex-wrap: wrap; 
}

nav a {
  color: white;
  text-decoration: none;
  font-family: 'Madimi One', sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid white; 
  border-radius: 12px;     
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: white;  
  color: #4676a8;           
  transform: scale(1.05);   
}


.content {
  font-family: 'Madimi One', sans-serif;
  text-align: center;
  padding: 40px;
}

.content p {
  margin: 20px auto;
  width: 100%;
  line-height: 1.6;
}

.content h1, .content h2 {
  font-family: 'Madimi One', sans-serif;
}

.content h1 {
  font-size:40px;
  margin-bottom: 20px;
}

.content h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
}

.content h3 {
  margin-top: 24px;
  margin-bottom: 18px;
  font-size: 20px;
}


.flex-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 40px;
  gap: 40px;
  flex-wrap: wrap;
}

.flex-content img {
  width: 300px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.flex-content .text {
  max-width: 500px;
  text-align: justify;
  line-height: 1.6;
}


.site-footer {
  width: 100vw;              
  background: #4676A8;      
  color: white;
  padding: 30px 0;          
  margin: 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;    
  align-items: center;       
  justify-content: center;
  gap: 15px;
  font-family: 'Madimi One', sans-serif;
}


.site-footer .contato {
  font-size: 18px;
}


.site-footer .redes-sociais {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


.site-footer .rede {
  display: flex;
  align-items: center;
  gap: 5px;
}

.site-footer .rede img {
  width: 24px;
  height: 24px;
}

.site-footer .rede span {
  font-family: Arial, sans-serif;
  font-size: 14px;
}


.site-footer .marcaregistrada {
  text-align: center;
  font-size: 0.9em;
  color: #dbeeff;
  margin-top: 10px;
  font-family: 'Madimi One', sans-serif;
}

.img-jogo {
  width: 800px;
  height: 600px;
}


.carrossel-continuo {
  width: 100%;
  overflow: hidden;
  background: #cbe7f4;
  padding: 20px 0;
  position: relative;
}

.carrossel-faixa {
  display: flex;
  width: max-content;
  animation: deslizar 40s linear infinite;
}

.carrossel-faixa img {
  width: 360px;
  height: 200px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  flex-shrink: 0;
}

@keyframes deslizar {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.inicio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 60px 80px;
  flex-wrap: wrap;
  background: #e0f7fa;
}

.inicio-logo {
  width: 300px;
  max-width: 35%;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.inicio-texto {
  max-width: 600px;
}

.inicio-texto h1 {
  font-family: 'Madimi One', sans-serif;
  margin-bottom: 20px;
  text-align: left;
}

.inicio-texto p {
  font-family: 'Madimi One', sans-serif;
  color: #022c43;
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
}


@media (max-width: 900px) {
  .inicio-container {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  .inicio-logo {
    width: 70%;
    max-width: 300px;
  }

  .inicio-texto {
    max-width: 90%;
  }

  .inicio-texto h1 {
    text-align: center;
  }
}
.area-botao{ font-family: 'Madimi One', sans-serif;}



.tema-botao {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.meu-botao-cabeçalho-areas {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  width: 150px;
  height: 50px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  outline: none;
}
.meu-botao-cabeçalho-areas,
.meu-botao-cabeçalho-areas:visited,
.meu-botao-cabeçalho-areas:hover,
.meu-botao-cabeçalho-areas:active {
  text-decoration: none !important;
}
.meu-botao {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  width: 120px;
  height: 44px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  outline: none;
}
.meu-botao,
.meu-botao:visited,
.meu-botao:hover,
.meu-botao:active {
  text-decoration: none !important;
}
.pé-na-areia-botões {
  background-color: #F8DD8D;
  color: #6E380C;
  border: 2px solid #6E380C;
}
.pé-na-areia-botões:hover {
  background-color: #F1C43B;
  color: #6E380C;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}
.beira-mar-botões {
  background-color: #AFE1E9;
  color: #164046;
  border: 2px solid #164046;
}
.beira-mar-botões:hover {
  background-color: #64C3D3;
  color: #164046;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.corais-botões {
  background-color: #FFA599;
  color: #4D0900;
  border: 2px solid #4D0900;
}
.corais-botões:hover {
  background-color: #FF614D;
  color: #4D0900;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.alto-mar-botões {
  background-color: #9ACAFA;
  color: #002B42;
  border: 2px solid #002B42;
}
.alto-mar-botões:hover {
  background-color: #B3E4FF;
  color: #002B42;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.profundezas-botões {
  background-color: #00497B;
  color: #FFFFFF;
  border: 2px solid #002e4d;
}
.profundezas-botões:hover {
  background-color: #007DD1;
  color: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.polos-botões {
  background-color: #AAC1CF;
  color: #000000;
  border: 1px solid #5e6569;
}
.polos-botões:hover {
  background-color: #EBEBEB;
  color: #000000;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.container-botoes-final {
  display: flex;
  width: 100%;
  padding: 0 40px;
  margin-bottom: 40px;
  box-sizing: border-box;
}
.container-botoes-final.direita {
  justify-content: flex-end;
}
.container-botoes-final.esquerda {
  justify-content: flex-start;
}
.container-botoes-final.meio {
  justify-content: space-between;
}
.botao span {
  margin: 0 6px;
}
